.breadcrumb {
    margin-top: 20px;
}
    .breadcrumb .container {
        max-width: 1110px;
    }
    .breadcrumb .breadcrumb-list {
        list-style: none;
        margin: 0 0 40px 0;
        padding: 0;
        color: var(--color-theme);
    }
        .breadcrumb .breadcrumb-list li {
            display: inline-block;
            font-weight: 500;
        }
            .breadcrumb .breadcrumb-list li + li::before {
                content: "\00a0\00a0>\00a0\00a0";
                font-weight: 400;
                color: var(--color-dark);
            }
            .breadcrumb .breadcrumb-list li a {
                color: var(--color-dark);
            }
                .breadcrumb .breadcrumb-list li a:hover {
                    color: var(--color-theme);
                }