/* CSS for featuredsection*/

.product-grid {
    margin-bottom: 60px;
}
    .product-grid .container {
        display: block;
        text-align: center;
    }
        .product-grid .container h1 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;
        }

    .card {
        border: none;
        width: 255px;
        margin-left: auto;
        margin-right: auto;
    }

        .card img,
        .card .card-img {
        height: 210px;
        width: 100%;
        object-fit: cover;
        background-color: var(--linear-gradient-light);
        position: relative;
        }

            .card .card-menu {
                position: absolute;
                display: none;
                top: 10px;
                right: 10px;
            }

            .card .card-menu .menu-link {
                color: var(--color-dark);
                background-color: var(--color-white);
                margin-bottom: 15px;
                width: 36px;
                height: 36px;
                box-shadow: 0 0 6px 3px var(--color-shadow);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: none;
                outline: none;
            }

                .card .card-menu .menu-link:hover {
                    text-decoration: none;
                    color: var(--color-white);
                    background-color: var(--color-dark);
                }

        .card:hover .card-menu {
            display: block;
        }

            .card .btn-card-theme {
                position: absolute;
                bottom: 0;
                display: none;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
            }

            .card:hover .btn-card-theme {
                display: flex;
            }

        .card .card-body {
            text-align: center;
        }

            .card .card-body .card-category {
                font-size: 13px;
                font-weight: 500;
                color: var(--color-dark-grey);
            }

            .card .card-body .card-title {
                font-size: 16px;
                font-weight: 600; 
            }

            .card .card-body .card-rating {
                color: var(--color-theme);
            }

            .card .card-body .card-price {
                font-size: 18px;
                font-weight: 600;
            }


@media (min-width: 1200px) {
    .product-grid .container {
            max-width: 1110px;
    }
}